<html lang="en">
<%- include('includes/head'); -%>

<body>
  <%- include(`pages/${page}`); -%>
  <!-- <script src="https://js.stripe.com/v3/"></script> -->
  <script src="js/bundle.js"></script>
  <script src="js/bundle.js.map"></script>
</body>

</html>