<%- include('../includes/header'); -%>
<main class="main">
  <div class="user-view__form-container">
    <div class="ma-bt-md">
      <h1 class="heading-secondary">Natours</h1>
    </div>
    <h2 class="heading-secondary ma-bt-md">Forget Password</h2>
    <form class="form form-user-settings reset-password">
      <div class="form__group ma-bt-lg">
        <label class="form__label" for="forget-email">Email</label>
        <input class="form__input" id="forget-email" type="email" placeholder="Enter Email" required />
      </div>
      <div class="form__group right">
        <button id="btn-forget-password" class="btn btn--small btn--green">Forget password</button>
      </div>
    </form>
  </div>
</main>
<%- include('../includes/footer'); -%>